<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Pricipais Bandas
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item> <ion-label> AC/DC </ion-label> <ion-img src="../assets/imagens/acdc.png"></ion-img></ion-item>
    <ion-item> <ion-label> Metallica</ion-label> <ion-img src="../assets/imagens/acdc.png"></ion-img></ion-item>
    <ion-item> <ion-label> Black Sabbath</ion-label> <ion-img src="../assets/imagens/acdc.png"></ion-img></ion-item>
    <ion-item> <ion-label> Iron Maiden</ion-label> <ion-img src="../assets/imagens/acdc.png"></ion-img></ion-item>
    <ion-item> <ion-label> Mega Death </ion-label> <ion-img src="../assets/imagens/acdc.png"></ion-img></ion-item>
  </ion-list>
</ion-content>
